extends layout

block title
    title Admin

block content
    // Modal Online Forward Admin
    #adminStaticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='adminStaticBackdropLabel' aria-hidden='true')
       .modal-dialog
           .modal-content
               .modal-header
                   h5#adminStaticBackdropLabel.modal-title Forward To...
                   button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
               .modal-body


    // Modal Online Admin
    #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#staticBackdropLabel.modal-title Online Admins
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body



    // Modal Wait List
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Wait List
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body

    .app
        .header
            .user-settings
                .settings
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' data-bs-toggle="modal" data-bs-target="#staticBackdrop")
                        circle(cx='12' cy='12' r='3')
                        path(d='M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z')

        .wrapper
            .conversation-area
                //.msg.online
                //    img.msg-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png' alt='')
                //    .msg-detail
                //        .msg-username Madison Jones
                //        .msg-content
                //            span.msg-message What time was our meet
                //            span.msg-date 20m
                //.msg
                //    img.msg-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png' alt='')
                //    .msg-detail
                //        .msg-username Miguel Cohen
                //        .msg-content
                //            span.msg-message Adaptogen taiyaki austin jean shorts brunch
                //            span.msg-date 20m
                button.add(type='button' data-bs-toggle="modal" data-bs-target="#exampleModal")
                .overlay
            .chat-area
                .chat-area-header
                    .chat-area-title (Not Selected)
                    //.chat-area-group
                    //    img.chat-area-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%283%29+%281%29.png' alt='')
                    //    img.chat-area-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png' alt='')
                    //    img.chat-area-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png' alt='')
                    //    span +4
                .chat-area-main
                    //.chat-msg.owner
                    //    .chat-msg-profile
                    //        img.chat-msg-img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png' alt='')
                    //        .chat-msg-date Message seen 1.22pm
                    //    .chat-msg-content
                    //        .chat-msg-text Sit amet risus nullam eget felis eget. Dolor sed viverra ipsum&#x1F602;&#x1F602;&#x1F602;
                    //        .chat-msg-text Cras mollis nec arcu malesuada tincidunt.
                    //.chat-msg
                    //    .chat-msg-profile
                    //        img.chat-msg-img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png' alt='')
                    //        .chat-msg-date Message seen 2.45pm
                    //    .chat-msg-content
                    //        .chat-msg-text
                    //            | Aenean tristique maximus tortor non tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae&#x1F60A;
                    //        .chat-msg-text Ut faucibus pulvinar elementum integer enim neque volutpat.

                    .not-selected
                        h1 Please select a client to start converse
                .chat-area-footer
                    form
                        input(type='text' placeholder='Type something here...' required)
                        button(class='chatbox__form-submit u-btn')
                            i(class='fas fa-paper-plane')
    script(src='/socket.io/socket.io.js')