extends layout

block title
    title Admin

block content
    // Modal
    #loginStaticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='loginStaticBackdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#loginStaticBackdropLabel.modal-title Log In
                .modal-body
                    form#login-form
                        .mb-3
                            label.form-label(for='emailInput') Email address
                            input#emailInput.form-control(type='email' aria-describedby='emailHelp' required)
                            #emailHelp.form-text We&apos;ll never share your email with anyone else.
                        .mb-3
                            label.form-label(for='usernameInput') Username
                            input#usernameInput.form-control(type='text' required)
                        .mb-3
                            label.form-label(for='roomSelect') Position
                            select#roomSelect.form-select(aria-label='Default select example')
                                option(selected='') -- Select a position
                                option(value='0') Room1
                                option(value='1') Room2
                                option(value='2') Room3

                        button.btn.btn-primary(type='submit') Submit



    // Modal Online Forward Admin
    #adminStaticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='adminStaticBackdropLabel' aria-hidden='true')
       .modal-dialog
           .modal-content
               .modal-header
                   h5#adminStaticBackdropLabel.modal-title Forward To...
                   button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
               .modal-body


    // Modal Online Admin
    #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#staticBackdropLabel.modal-title Online Admins
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body



    // Modal Wait List
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Wait List
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body

    .app
        .header
            .user-settings
                .dark-light
                    i(data-bs-toggle="modal" data-bs-target="#adminStaticBackdrop").fas.fa-forward
                .settings
                    i(data-bs-toggle="modal" data-bs-target="#staticBackdrop").fas.fa-user-plus


        .wrapper
            .conversation-area
                //.msg.online
                //    img.msg-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png' alt='')
                //    .msg-detail
                //        .msg-username Madison Jones
                //        .msg-content
                //            span.msg-message What time was our meet
                //            span.msg-date 20m
                //.msg
                //    img.msg-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png' alt='')
                //    .msg-detail
                //        .msg-username Miguel Cohen
                //        .msg-content
                //            span.msg-message Adaptogen taiyaki austin jean shorts brunch
                //            span.msg-date 20m
                button.add(type='button' data-bs-toggle="modal" data-bs-target="#exampleModal")
                .overlay
            .chat-area
                .chat-area-header
                    .chat-area-title (Not Selected)
                    //.chat-area-group
                    //    img.chat-area-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%283%29+%281%29.png' alt='')
                    //    img.chat-area-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png' alt='')
                    //    img.chat-area-profile(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%2812%29.png' alt='')
                    //    span +4
                .chat-area-main
                    //.chat-msg.owner
                    //    .chat-msg-profile
                    //        img.chat-msg-img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%281%29.png' alt='')
                    //        .chat-msg-date Message seen 1.22pm
                    //    .chat-msg-content
                    //        .chat-msg-text Sit amet risus nullam eget felis eget. Dolor sed viverra ipsum&#x1F602;&#x1F602;&#x1F602;
                    //        .chat-msg-text Cras mollis nec arcu malesuada tincidunt.
                    //.chat-msg
                    //    .chat-msg-profile
                    //        img.chat-msg-img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download+%282%29.png' alt='')
                    //        .chat-msg-date Message seen 2.45pm
                    //    .chat-msg-content
                    //        .chat-msg-text
                    //            | Aenean tristique maximus tortor non tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae&#x1F60A;
                    //        .chat-msg-text Ut faucibus pulvinar elementum integer enim neque volutpat.

                    .not-selected
                        h1 Please select a client to start converse
                .chat-area-footer
                    form
                        input(type='text' placeholder='Type something here...' required)
                        button(class='chatbox__form-submit u-btn')
                            i(class='fas fa-paper-plane')
    script(src='/socket.io/socket.io.js')