extends layout

block title
  title Client

block content
  div(class='chatbox js-chatbox')
    div(class='chatbox__header')
      h3(class='chatbox__header-cta-text').
        #[span(class='chatbox__header-cta-icon') #[i(class='fas fa-comments')]] Let's Chat
      button(class='js-chatbox-toggle chatbox__header-cta-btn u-btn')
        i(class='fas fa-chevron-up')

    div(class='js-chatbox-display chatbox__display')

    form(class='js-chatbox-form chatbox__form')
      input(type="text" class='js-chatbox-input chatbox__form-input' placeholder="Type your message..." required disabled)
      button(class='chatbox__form-submit u-btn' disabled)
        i(class='fas fa-paper-plane')

  script(src='/socket.io/socket.io.js')